<div class="login-box">
  <h2>Set new password</h2>
  <form #resetForm="ngForm" autocomplete="off" (ngSubmit)="resetPassword()">
    <div class="user-box">
      <input
        type="password"
        name="password"
        required=""
        value=""
        [(ngModel)]="reset.password"
      />
      <label>New Password</label>
    </div>
    <div class="capslock" *ngIf="capslockOn">Caps lock on</div>

    <button class="blue-light" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>Change
    </button>
  </form>
</div>
