<div class="login-box">
  <h2>Edit your information</h2>
  <div class="error">{{ editForm.valid }}</div>
  <form [formGroup]="editForm" (ngSubmit)="editUserInfo()" autocomplete="off">
    <div class="user-box">
      <input
        type="text"
        name="firstname"
        formControlName="firstname"
        required=""
      />

      <label>First name</label>
    </div>
    <div *ngIf="f.firstname.errors" class="error">
      <div
        *ngIf="
          f.firstname.errors.maxlength ||
          f.firstname.errors.minlength ||
          f.firstname.errors.pattern
        "
      >
        Wrong firstname !
      </div>
    </div>

    <div class="user-box">
      <input
        type="text"
        name="lastname"
        formControlName="lastname"
        required=""
      />

      <label>Last name</label>
    </div>
    <div *ngIf="f.lastname.errors" class="error">
      <div
        *ngIf="
          f.lastname.errors.pattern ||
          f.lastname.errors.maxlength ||
          f.lastname.errors.minlength
        "
      >
        Wrong lastname !
      </div>
    </div>
    <div class="user-box">
      <input type="email" formControlName="email" name="email" required="" />
      <label>E-mail</label>
    </div>
    <div *ngIf="f.email.errors" class="error">
      <div
        *ngIf="
          f.email.errors.pattern ||
          f.email.errors.maxlength ||
          f.email.errors.minlength
        "
      >
        Wrong email address !
      </div>
    </div>
    <div class="user-box">
      <input
        (keypress)="keyPressNumber($event)"
        type="text"
        name="phonenumber"
        formControlName="phonenumber"
        required=""
      />
      <label>Phone number</label>
    </div>

    <div *ngIf="f.phonenumber.errors" class="error">
      <div
        *ngIf="
          f.phonenumber.errors.pattern ||
          f.phonenumber.errors.maxlength ||
          f.phonenumber.errors.minlength
        "
      >
        Wrong number! 9 - 12 characters
      </div>
    </div>
    <div class="user-tip mb-3 mt-2">
      Input data into fields that requires editing
    </div>
    <button class="blue-light" (click)="cancel()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>Cancel
    </button>
    <button class="blue-light ml-5 cancelButton" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>Submit
    </button>
  </form>
</div>
