ngb-carousel .wrapper {
  position: relative;
  height: auto;

  text-align: center;
}
.carousel {
  width: 100%;
}

ngb-carousel .wrapper > img {
  position: relative;

  // width: 1100px;
  // height: 600px;
}
.toolbar {
  color: white;
}
.container {
  color: antiquewhite;
}

.carousel-inner .sr-only {
  display: none;
}
.back {
  background: transparent;
  color: white;
  font-size: 18px;
  border-color: #03e9f4;
}
