body {
  font-family: "Montserrat", sans-serif;
  background-color: #16303b;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");

  background-position: center;
  overflow: auto;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
  position: fixed;
}
/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}*/
