h1 {
  font-size: 45px;
  color: aliceblue;
  margin-top: 2%;
  margin-bottom: 2%;
}
.elem {
  background: rgb(34, 34, 34);
  color: white;
  border-radius: 20px;
  width: 20vw;
  max-width: 300px;
  height: 300px;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align: left;

  text-decoration: none;
  font-size: 18px;
  border-color: rgb(63, 60, 63);
}
.elem:active {
  border-style: outset;
}

.title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.price {
  font-size: 20px;
  font-weight: 400;
  height: 40px;
}
.offers {
  display: flex;
  justify-content: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 1200px) {
  .column {
    width: 50%;
  }
}
.ifWinner {
  
  height: 85%;
  margin-top: 5%;
}
.timer {
  text-align: center;
  margin-top: 20px;
  background-color: #667abb;
  border-radius: 25px;
  padding: 5px;
}
