<div class="container">
  <h1>🚙 My Garage 🚗</h1>
  <div *ngIf="posts.length == 0">
    You have no active advertisments or auctions
  </div>
  <div *ngFor="let post of posts | slice: min:max; let i = index" class="">
    <button class="elem" [routerLink]="['/vehicle', post?.advertismentId]">
      <div class="photo">
        <img
          class="border-gradient border-gradient-purple mr-5"
          src="{{ photos[i + min]?.photoUrl }}"
          alt="Product"
        />
        <span class="mr-3 title">{{ post.title }}</span>
      </div>
      <div class="details mt-4">
        <span class="price">
          {{ cardService.numberWithSpaces(post.price) }} zł</span
        >
      </div>
    </button>
  </div>
  <div *ngIf="posts?.length > 5" class="numbers mt-2">
    <span
      ><button class="page less" (click)="less()">
        <i class="fa-thin fa-arrow-left"></i></button
      ><button class="page more" (click)="more()">
        <i class="fa-thin fa-arrow-right"></i>
      </button>
    </span>
  </div>
</div>
