<div class="container">
  <h1 class="title">Contact</h1>

  <div class="address">
    <div class="carclub">CarClub</div>
    <div class="carclub-address">ul. Lipowa 1</div>
    <div class="city">22-100, Chełm</div>
    <div class="phone">tel: 123 123 123</div>
  </div>
  <div class="message">
    <form [formGroup]="email" (ngSubmit)="sendEmail()">
      <label>Your e-mail:</label>
      <br />
      <input formControlName="subject" type="text" />
      <br />
      <label>Message:</label>
      <br />
      <textarea formControlName="body"></textarea>
      <button class="button-19" type="submit">{{ sendingMessage }}</button>
    </form>
  </div>
</div>
