<body>
  <div id="navbar">
    <ul class="main-bar">
      <li *ngIf="accountService.currentUser$ | async" class="main-bar">
        <a class="logo" routerLink="/main" routerLinkActive="active">CARCLUB</a>
      </li>
      <li
        *ngIf="(accountService.currentUser$ | async) === null"
        class="main-bar"
      >
        <a class="logo" routerLink="/" routerLinkActive="active">CARCLUB</a>
      </li>
      <li *ngIf="accountService.currentUser$ | async" class="main-bar">
        <a routerLink="/main" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="accountService.currentUser$ | async" class="main-bar">
        <a routerLink="/auc/1" routerLinkActive="active">Auctions</a>
      </li>
      <li *ngIf="accountService.currentUser$ | async" class="main-bar">
        <a routerLink="/adv/1" routerLinkActive="active">Advertisments</a>
      </li>

      <li
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <a class="dropdown-toggle text-light" dropdownToggle
          >Hello, <span class="usernameColor">{{ user.userName }}</span></a
        >
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="/userP">My profile</a>

          <a class="dropdown-item" routerLink="/myAuc">My garage</a>

          <a class="dropdown-item" routerLink="/myOffers">My offers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>

      <li
        *ngIf="(accountService.currentUser$ | async) === null"
        class="main-bar"
      >
        <input
          class="menu-icon"
          type="checkbox"
          id="menu-icon"
          name="menu-icon"
        />
        <label for="menu-icon"></label>
        <nav class="nav">
          <ul class="pt-5">
            <li><a href="/log">Login</a></li>
            <li><a href="/reg">Register</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </li>
    </ul>
  </div>
</body>
