.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-85 {
  width: 120%;
  height: 50px;
  transition: transform ease 300ms;
}

.addButtons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 22vh;
}
/*
.photo-container {
  width: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}*/

.photo {
  width: 100%;
  min-height: 65vh; //was 80%
  background: url("/assets/mainPage/third.jpg") no-repeat;
  background-size: 100%;
}
.button-85:hover {
  box-shadow: 0 0 3px black;
  transform: translate(0, -15px);
}

.threeBlocks {
  margin-top: 3%;
  min-height: 500px;
  background-color: #16303b;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  //border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
h1 {
  color: white;
  margin-left: 10%;
  padding-top: 6%;
  font-weight: 700;
  font-size: 350%;
}
h2 {
  color: white;
  margin-left: 10%;
  padding-top: 1%;
  font-weight: 400;
}
.first {
  border-radius: 25px;
  border: solid 10px #071c25;

  width: 25%;
  min-height: 400px;
  display: inline-block;

  margin-right: 10%;
}
.second {
  border-radius: 25px;
  border: solid 10px #071c25;
  width: 25%;
  min-height: 400px;
  display: inline-block;
  margin-right: 10%;
}
.third {
  border-radius: 25px;
  border: solid 10px #071c25;
  width: 25%;
  min-height: 400px;
  display: inline-block;
}
.elemIcon {
  margin: auto;
  width: 80%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  min-height: 160px;
}
.elemDescription {
  margin: auto;

  width: 80%;
  color: white;
  text-align: center;
  height: auto;
  font-size: 30px;
  font-weight: 600;
  min-height: 220px;
}

.elemDescTitle {
  font-size: 35px;
  font-weight: 700;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.elemDescRest {
  font-size: 20px;
  font-weight: 400;
}
