<div class="photo">
  <h1>CARCLUB</h1>
  <h2>The best place to find your dream car</h2>
  <div class="addButtons">
    <a class="formButton"
      ><button class="button-85 aucButton">Create auction</button></a
    >
    <a class="formButton" routerLink="/advForm" routerLinkActive="active"
      ><button class="button-85 advButton">Create advertisment</button></a
    >
  </div>
</div>
<div class="threeBlocks">
  <div class="first">
    <div class="elemIcon">📝</div>
    
    <div class="elemDescription">Fill out the auction form</div>
  </div>
  <div class="second">
    <div class="elemIcon">💸</div>
   
    <div class="elemDescription">Watch </div>
  </div>
  <div class="third">
    <div class="elemIcon">🥂</div>
   
    <div class="elemDescription">s</div>
  </div>
</div>
