<div class="login-box">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <div class="user-box">
      <input
        [(ngModel)]="model.username"
        type="text"
        name="username"
        required=""
      />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input
        [(ngModel)]="model.password"
        type="password"
        name="password"
        required=""
      />
      <label>Password</label>
      <div class="capslock" *ngIf="capslockOn">Caps lock on</div>
    </div>
    <button class="blue-light" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>Login
    </button>
  </form>
</div>
