<div class="login-box" *ngIf="!resetMode">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <div class="user-box">
      <input
        [(ngModel)]="model.username"
        type="text"
        name="username"
        required=""
      />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input
        [(ngModel)]="model.password"
        type="password"
        name="password"
        required=""
      />
      <label>Password</label>
      <div class="reset" (click)="toggleReset()">Forgot your password?</div>
      <div class="capslock" *ngIf="capslockOn">Caps lock on</div>
    </div>
    <button class="blue-light" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>Login
    </button>
  </form>
</div>

<div class="login-box" *ngIf="resetMode">
  <div class="back mb-3" (click)="toggleReset()">Back</div>
  <h2>Recovery</h2>
  <form
    #resetForm="ngForm"
    (ngSubmit)="forgotPasswordEmail()"
    autocomplete="off"
  >
    <div class="user-box">
      <input
        [(ngModel)]="email.email"
        type="text"
        name="email"
        required=""
        value=""
      />
      <label>Email</label>
    </div>
    <div class="capslock" *ngIf="capslockOn">Caps lock on</div>

    <button class="blue-light" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>{{ sendingMessage }}
    </button>
  </form>
</div>
