<div class="container">
  <div class="login-box">
    <div class="row " *ngIf="photos.length != 0">
      <div class="col-md-4" *ngFor="let photo of photos; let i = index">
        <div class="icons mt-4">
          <button class="star-icon" (click)="replaceImages(i)">
            <i class="fa fa-star"></i>
          </button>
          <button class="trash-icon" (click)="deleteImage(i)">
            <i class="fa-solid fa-trash"></i>
          </button>
          <img class="photo mt-3" src="{{ photo }}" />
        </div>
      </div>
    </div>
    <div class="banner" *ngIf="photos.length == 0">No photos added</div>
    <div class="mt-3 ml-4">
      <button class="blue-light" (click)="cancel()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>Back
      </button>
    </div>
  </div>
</div>
