.login-box {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  position: relative;
  margin-top: 5%;
  min-height: 350px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 4%;

  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: fixed;
}

.login-box .user-box input {
  width: 40%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;

  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  left: 0;
  top: -20px;
  right: 10px;
  color: #03e9f4;
  font-size: 12px;
}

.login-box .blue-light {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
}

.login-box .blue-light:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box .blue-light span {
  position: absolute;
  display: block;
}

.blue-light {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.preview {
  position: absolute;
  bottom: 0;
  left: 0;
}
.photo {
  margin-right: 2%;
  width: 80%;
  height: auto;
  max-height: 150px;
}

.column {
  float: left;
  width: 33.33%;
}
.row {
  margin-left: 10%;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 1200px) {
  .column {
    width: 50%;
  }
}
img:hover {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px #03e9f4;
  border-color: #03e9f4;
  transform: scale(1.1);
}
img {
  border: 2px solid rgb(129, 128, 128);
  border-radius: 3px;
}
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}

.trash-icon {
  content: "\f1f8"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  background: none;
  color: white;
  border: white;
  border-radius: 2%;
  margin-right: 20px;
}
.star-icon {
  content: "\f005"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  background: none;
  border: none;
  color: rgb(234, 248, 36);
}
.trash-icon:hover + .photo {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px #da2332;
  border-color: #da2332;
  transform: scale(1.1);
}
.icons {
  text-align: left;
}
.star-icon:hover ~ .photo {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px #c8f527;
  border-color: #c8f527;
  transform: scale(1.1);
}
.banner {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20%;
}
