<div class="container">
  <div class="container">
    <button type="button" class="collapsible" (click)="expand()">
      <!-- Filter 🔍-->
    </button>
    <div class="content">
      <div class="filter-row1">
        <label>Type: </label>
        <select [(ngModel)]="filter.type" name="type" required="">
          <option selected></option>
          <option *ngFor="let elem of types.typeList" [ngValue]="elem">
            {{ elem }}
          </option>
        </select>

        <label>Brand: </label>
        <select [(ngModel)]="filter.brand" name="brand" required="">
          <option selected></option>
          <option *ngFor="let elem of brands.brandList" [ngValue]="elem">
            {{ elem }}
          </option>
        </select>

        <label>Color: </label>
        <select [(ngModel)]="filter.color" name="color" required="">
          <option selected></option>
          <option *ngFor="let elem of colors.colorList" [ngValue]="elem">
            {{ elem }}
          </option>
        </select>

        <label>Fuel: </label>
        <select [(ngModel)]="filter.fuel" name="fuel" required="">
          <option selected></option>
          <option *ngFor="let elem of fuel.fuelList" [ngValue]="elem">
            {{ elem }}
          </option>
        </select>
      </div>
      <div class="filter-row2">
        <label>Price: </label>
        <ngx-slider
          [(value)]="minValuePrice"
          [(highValue)]="maxValuePrice"
          [options]="optionsPrice"
        ></ngx-slider>
      </div>
      <div class="filter-row3">
        <label>Year: </label>
        <ngx-slider
          [(value)]="minValueYear"
          [(highValue)]="maxValueYear"
          [options]="optionsYear"
        ></ngx-slider>
      </div>
      <button class="button-19" (click)="filterCars()">Find</button>
    </div>
  </div>

  <div class="shell">
    <div class="container">
      <h4>Results: {{ numberOfAllCards }}</h4>
      <div class="row">
        <div class="col-md-4" *ngFor="let adv of advertisments; let i = index">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="{{ imageService.searchForMain(vehicles[i]?.photos) }}"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>{{ vehicles[i]?.type }}</span>
              </div>
              <div class="title-product">
                <h3>{{ vehicles[i]?.brand }} {{ vehicles[i]?.model }}</h3>
              </div>
              <div class="description-prod">
                <p>
                  {{ vehicles[i]?.engine }} cm3&nbsp;
                  {{ cardService.numberWithSpaces(vehicles[i]?.mileage) }}
                  km<br />{{ vehicles[i]?.productionYear }}
                </p>
              </div>
              <div class="card-footer">
                <div class="wcf-left">
                  <span class="price"
                    >{{ cardService.numberWithSpaces(adv?.price) }} $</span
                  >
                </div>
                <div class="wcf-right">
                  <a
                    [routerLink]="['/vehicle', adv?.advertismentId]"
                    class="buy-btn eye"
                  >
                    <i class="fa-sharp fa-solid fa-car"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="numbers mt-2">
    <span
      ><button class="page less" (click)="subPageNumber()">
        <i *ngIf="checkPreviousPage()" class="fa-thin fa-arrow-left"></i>
      </button>
      <span class="pageNumber">{{ this.pageId }}</span
      ><button class="page more" (click)="addPageNumber()">
        <i *ngIf="checkNextPage()" class="fa-thin fa-arrow-right"></i>
      </button>
    </span>
  </div>
</div>
