<div class="container">
  <div class="shell">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let adv of advertisments; let i = index">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="{{ imageService.searchForMain(vehicles[i]?.photos) }}"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="category">
                <span>{{ vehicles[i]?.type }}</span>
              </div>
              <div class="title-product">
                <h3>{{ vehicles[i]?.brand }} {{ vehicles[i]?.model }}</h3>
              </div>
              <div class="description-prod">
                <p>
                  {{ vehicles[i]?.engine }} cm3&nbsp;
                  {{ cardService.numberWithSpaces(vehicles[i]?.mileage) }} km<br />{{
                    vehicles[i]?.productionYear
                  }}
                </p>
              </div>
              <div class="card-footer">
                <div class="wcf-left">
                  <span class="price"
                    >{{ cardService.numberWithSpaces(adv?.price) }} zł</span
                  >
                </div>
                <div class="wcf-right">
                  <a
                    [routerLink]="['/vehicle', adv?.advertismentId]"
                    class="buy-btn eye"
                  >
                    <i class="fa-sharp fa-solid fa-car"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="numbers mt-2">
    <span
      ><button class="page less" (click)="subPageNumber()">
        <i *ngIf="checkPreviousPage()" class="fa-thin fa-arrow-left"></i>
      </button>
      <span class="pageNumber">{{ this.pageId }}</span
      ><button class="page more" (click)="addPageNumber()">
        <i *ngIf="checkNextPage()" class="fa-thin fa-arrow-right"></i>
      </button>
    </span>
  </div>
</div>
